body {
    height: 100%;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgOsfKg4fS55LrjQEywLfqXKf1Wr7qdu-FoA&usqp=CAU"); 
    /* background-color: rgb(19, 0, 21);  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    border-radius: 5px;
    /* background-image: url("https://cms-assets.tutsplus.com/cdn-cgi/image/width=840/uploads/users/33/posts/13039/final_image/leather-texture-photoshop-tutorial.jpg"); */
    background-color: rgb(61, 61, 61);
    margin: 3rem;
    padding: 10px;
    width: 250px;
    height: 100%;
    max-width: 250px;
    max-height: 60%;
    box-shadow: 5px 5px 10px rgb(64, 63, 63);
    border: 2px solid black;
    
}

.booksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booksImg {
   width: 300px;
   height: auto;
}

.bookCard {
    color: rgb(198, 198, 198);
    /* font-weight: bold; */
    /* border: 3px dotted hotpink; */
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* height: 50%; */
    width: 100%;
    height: 100%;
    align-items: center;
}

.bookCard img {
    height: 15rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* box-shadow: 3px 3px 10px rgb(241, 238, 238); */
    border: 2px solid black;
    border-radius: 5px;
}

/* title of each card */
.title {
    /* display: flex; */
    /* justify-content: center; */
    /* font-weight: bold; */
    font-size: 1.5rem;
}

.bookCard h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 7px;
}

.bookCard p {
    display: flex;
    justify-content: center;
    margin: 0;
    padding:3px; 
}



article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.bookCard h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding:3px; 
}
/* ------------------------------------------------------------------- */
/* UPDATE SECTION */
.updateBookPage{
    /* background-image: url(""); */
    /* background-color: rgb(147, 147, 243); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
}

.updateBookImg {
    width: 400px;
    height: 500px;
    margin: 0;
}

.updateBookForm {
    margin: 5px;
    width:60%;
    /* color: white; */
}

@media only screen and (max-width: 640px) {
    .updateBookPage{
        flex-direction: column;
        align-items: center;
    }
    
    .updateBookImg {
        width: 200px;
        height: 250px;
        padding: 0;
    }
    
    .updateBookForm {
       padding: 20px;
       margin: 0;
        width:60%;
        /* color: white; */
    }
}


/* ------------------------------------------------------------------- */
/* HOME SECTION */
.homeSection {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    align-items: center;
    width: auto;
}

.homeImage {
    /* height: auto;
    width: 150px; */
    background-size: contain;
}


.homeText {
    color:rgb(12, 75, 27);
    text-align: center;
    margin: 5rem;
}

.homeButtons {
}

/* ------------------------------------------------------------------- */
/* ABOUT SECTION */

.aboutSection {
    height: 100%;
    width: 100%;
    display: flex;
}

.aboutImg {
    width: 500px;
    height: auto;
}

.aboutText {
    margin: 5rem 0;
    padding: 1rem;
    width: 30%;
}

/* .aboutContactBar {

} */

@media only screen and (max-width: 800px) {
    .aboutSection {
        flex-direction: column;
        align-items: center;
    }
    
    .aboutImg {
        width: 200px;
        height: 250px;
        padding: 0;
    }
    
    .aboutText {
       padding: 20px;
       margin: 0;
        width:60%;
        /* color: white; */
    }
}

/* ---------------------------------------------------------------------- */

/* ADD BOOK SECTION */

.addBookPage{
    /* background-image: url(""); */
    /* background-color: rgb(147, 147, 243); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
}

.addBookImg {
    width: 400px;
    height: 500px;
}

.addBookForm {
    margin: 10px;
    width:60%;
    /* color: white; */
}

@media only screen and (max-width: 1000px) {
    .addBookImg {
        width: 200px;
        height: 250px;
    }
    
    .addBookForm {
        width:60%;
        /* color: white; */
    }
}

@media only screen and (max-width: 640px) {
    .addBookPage{
        flex-direction: column;
        align-items: center;
    }
    
    .addBookImg {
        width: 150px;
        height: 190px;
    }
    
    .addBookForm {
       
        width:60%;
        /* color: white; */
    }
}

/* -------------------------------------------------------------------== */

/* DELETE SECTION */

.deleteContainer {
    /* background-color: black; */
    /* background-image: url("../images/bookburning.jpeg"); */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteContainer h2 {
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    margin: 5px;
}

.deleteContainer form {
    margin: 1rem;
}

.deleteText {
    color:rgb(213, 14, 14)
}

.again {
    color: rgb(4, 0, 255);
}

.forever {
    color: purple;
}

.deleteSection {
  
    color:rgb(198, 198, 198);
}

.deleteImg {
    margin: 10px 0px;
    padding: 0;
    width: 300px;
}


.bookCardDelete {
    background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/eps/E6254_2x/c/E6254_04.jpg?20200915202840");
    /* background-color: rgb(61, 61, 61); */
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 10px;
    width: 250px;
    height: 100%;
    max-width: 250px;
    max-height: 60%;
    box-shadow: 5px 5px 10px rgb(64, 63, 63);
    border: 2px solid black;
    
}

.bookCardDelete img {
    height: 15rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* box-shadow: 3px 3px 10px rgb(241, 238, 238); */
    border: 2px solid black;
    border-radius: 5px;
}

.bookCardDelete p {
    display: flex;
    justify-content: center;
    margin: 0;
    padding:3px; 
}

.bookCardDelete h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding:3px; 
}